# From 'setuptools' docs:
#     "Automatically include all relevant files in your source distributions,
#     without needing to create a MANIFEST.in file"
# From Python sdist docs:
#     "If you don’t supply an explicit list of files (or instructions on how
#     to generate one), the sdist command puts a minimal default set into the
#     source distribution:
#     [...]
#     - all files that matches the data_files metadata"
# However, 'samples/update-conf.py.conf' wasn't being included in sdist. We
# don't know if it is a bug. Anyway, we're adding it into our 'MANIFEST.in'.
# See: https://pythonhosted.org/setuptools/setuptools.html
#      https://docs.python.org/2/distutils/sourcedist.html
include Makefile
include LICENSE
include .coveragerc
include .travis.yml
include *.md
include *.txt
recursive-include samples *
recursive-include tests *
global-exclude tests/tmp/*
global-exclude *.rst
global-exclude *.pyc
